#vidrofront-load {
    background: #e0e0e087;
    padding: 5px;
    border-radius: 6px;
    #vidrofront-breadcrumb {
        margin: 3px 8px;
        list-style: none;
        background: #767676;
        border-radius: 5px;
        padding: 8px 17px;
        > li {
            display: inline-block;
            text-shadow: none;
            cursor: pointer;
            color: #fff;
            + li:before {
                padding: 0 5px;
                color: rgba(255, 255, 255, 0.65);
                content: "/\00a0";
            }
        }
    }
    #vidrofront-search {
        margin: 0 0 12px 8px;
        padding: 8px 17px;
        input {
            padding: 6px 13px;
            width: 90%;
        }
    }
    #vidrofront-elementos {
        .lista-itens-grid {
            border: 0 none;
            //float   : left;
            display: inline-block;
            padding: 0;
            margin: 1px;
            width: 258px;
            .itens {
                display: block;
                padding: 15px;
                text-align: center;
                position: relative;
                text-decoration: none;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                img {
                    width: 225px;
                }
                .titulo {
                    display: block;
                    color: #4c4949;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                }
                &:hover {
                    background-color: rgba(72, 72, 72, 0.07);
                }
                &.erro {
                    background: #e91e63;
                    &:hover {
                        background-color: rgba(233, 40, 53, 0.5);
                    }
                }
                &.selected {
                    background-color: rgba(51, 122, 183, 0.83);
                    .titulo {
                        color: #fff;
                    }
                    &:hover {
                        background-color: rgba(51, 122, 183, 0.69);
                    }
                }
            }
        }
        .alert {
            margin: 0 21px 25px;
        }
    }
    #vidrofront-pagination {
        margin: 7px;
        .pagination-info {
            display: inline-block;
            margin: 0;
            float: left;
            padding: 7px;
        }
        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 0;
            border-radius: 4px;
            > li {
                display: inline;
                > span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.42857143;
                    color: #337ab7;
                    text-decoration: none;
                    background-color: #fff;
                    border: 1px solid #ddd;
                }
                &:first-child > span {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                &:last-child > span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                > span:hover,
                > span:focus {
                    color: #23527c;
                    background-color: #eee;
                    border-color: #ddd;
                }
            }
            > .active {
                > span,
                > span:hover,
                > span:focus {
                    color: #fff;
                    cursor: default;
                    background-color: #337ab7;
                    border-color: #337ab7;
                }
            }
            > .clicked {
                > span {
                    cursor: pointer;
                }
            }
        }
    }
}